body {
    color: #38d39f;
    background-color: #3F3D56;
}
iframe {
    display: block;       /* iframes are inline by default */
    width: 100%;
    height: 60vh;
}
.App {
    height: 100vh;
}
button {
    outline: none !important;
}
svg {
    max-height: 400px;
}
.mr-6 {
    margin-right: 10rem !important;
}
@media screen and (max-width: 900px) {
    svg {
        max-height: 220px;
    }
    #step-indicator {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    iframe {
        display: block;       /* iframes are inline by default */
        width: 100%;
        height: 54vh;
    }
    #media-subtitle {
        /*font-size: 1rem;*/
    }
}
@media screen and (max-width: 340px) {
    svg {
        max-height: 200px;
    }
    .MuiTypography-h4 {
        font-size: 1.2rem !important;
    }
    iframe {
        display: block;       /* iframes are inline by default */
        width: 100%;
        height: 48vh;
    }
    #media-subtitle {
        font-size: 1rem;
    }
}
