body {
    background-color: #38d39f;
    color: #3F3D56;
}
iframe {
    display: block;       /* iframes are inline by default */
    width: 100%;
}
.App {
    height: 100vh;
}
button {
    outline: none !important;
}
svg {
    max-height: 400px;
}
.mr-6 {
    margin-right: 10rem !important;
}